{% extends "users/settings.html" %}
{% load widget_tweaks %}

{% block setting-content %}

    <div>
        {% if success_messege %}
            <div class="text-success">{{ success_messege }}</div>
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <fieldset class="form-group">

                <div class="row mb-3">
                    <div class="col-4 account-label">
                        <img class="rounded-circle member-list-img mr-2" src="{{ user.profile.image.url }}" alt="">
                    </div>
                    <div class="col-8 account-value">
                        <h5 class="mb-0">{{ user.username }}</h5>
                    </div>
                </div>

                {% for field in form %}
                <div class="row mb-3">
                    <div class="col-4 account-label">
                        {{ field.label }}
                    </div>
                    <div class="col-8 account-value">
                        {{ field|add_class:'form-control' }}
                    </div>
                </div>    
                {% endfor %}


            </fieldset>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        
        </form>
    </div>

{% endblock setting-content %}