/* font faces */

@font-face{
    font-family: billabong;
    src: url('fonts/Billabong.ttf');
}




/* main navigation bar classes */

.navbar-brand{
    font-family: billabong;
    font-size: 30px;
}

.navigation{
    background-color: white;
    padding: 0px;
}

.navigation-row{
    width: 100%;
    height: 54px;
}

.navigation-brand-section{
    padding-top: 0px;
}




/* navigation search */

@media(max-width:1100px){
    .navigation-search-section{
        display: none;
        padding-top: 7px;
    }
    .search-bar{
        display: none;
        background-color: #fafafa;
        border: 1px solid lightgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 3px;
        width: 225px;
        height: 27px;
        margin-top: 5px;
    }
        
    .search-bar::placeholder{
        display: none;
        opacity: .6;
        text-align: center;
        font-size: 15px;
        font-weight: 100;
    }
}

@media(min-width:1100px){
    .navigation-search-section{
        padding-top: 7px;
    }
    
    .search-bar{
        background-color: #fafafa;
        border: 1px solid lightgrey;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 3px;
        width: 225px;
        height: 27px;
        margin-top: 5px;
    }
    
    .search-bar::placeholder{
        opacity: .6;
        text-align: center;
        font-size: 15px;
        font-weight: 100;
    }

}

@media(max-width:768px){
    .navigation-mid{
        width: 50%;
        padding-top: 0px;
    }
}


@media(min-width:768px){
    .navigation-mid{
        padding-top: 0px;
    }
}





/* navigation content and section responsive */

@media(max-width:402px){
    .navigation-content-sm{
        position: sticky;
        bottom: 0%;
        justify-content: flex-end;
        padding-top: 14px;
        padding-bottom: 6px;
        padding-right: 0%;
    }
    .navigation-content-section-sm{
        position: sticky;
        bottom: 0%;
        width: 100%;
        background-color: white;
    }
    .navigation-content{
        display: none;
    }
    .navigation-content-section{
        display: none;
    }
}


@media(min-width:402px){
    .navigation-content{
        justify-content: flex-end;
        padding-top: 4px;
    }
    .navigation-content-section{
        width: 60%;
    }
    .navigation-content-sm{
        display: none;
    }
    .navigation-content-section-sm{
        display: none;
    }
}

@media(min-width:768px){
    .navigation-content{
        justify-content: flex-end;
        padding-top: 4px;
    }
    .navigation-content-section{
        width: 100%;
    }
    .navigation-content-sm{
        display: none;
    }
    .navigation-content-section-sm{
        display: none;
    }
}


@media(min-width:992px){
    .navigation-content{
        justify-content: flex-end;
        padding-top: 14px;
    }
    .navigation-content-section{
        width: 100%;
    }
    .navigation-content-sm{
        display: none;
    }
    .navigation-content-section-sm{
        display: none;
    }
}






/* navigation image */

.navigation-img{
    height: 25px;
    width: 25px;
    object-fit: cover;
    border: .5px solid lightgrey;
}


/* nav font */


/* create-option modal */

.create-option-modal{
    
}

.create-option-modal-content{
    text-align: center;
}

.create-option-modal-body{
    padding-left: 0%;
    padding-right: 0%;
}